doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Kantipur News
    body
        h1 Kantipur News Update
        for n in news
            p=n.title
        //- p #{title} 
        //- br
        //- p #{heading}
        //- a(href= 'https://www.kantipurdaily.com/#{link}') #{link}